<div class="flex-1 p-4 border border-gray-400 bg-gray-100 shadow w-max">
    <div class="mb-6">
        <h1 class="text-2xl font-bold">Nominee Details</h1>
        <p class="text-sm">Let's fill your nominee details</p>
    </div>
    <div class="flex flex-col space-y-2">
        <div class="flex space-x-6">
            <div class="flex items-center justify-between">
                <label for="">nominee's name</label>
                <div class="ml-4 p-1 border border-gray-300 bg-white shadow rounded-md overflow-hidden">
                    <input class="outline-none px-3 w-40" type="text" placeholder="first name" />
                    <input class="outline-none px-3 w-40" type="text" placeholder="middle name" />
                    <input class="outline-none px-3 w-40" type="text" placeholder="last name" />
                </div>
            </div>
            <div class="flex items-center justify-between">
                <label for="">nominee's relation</label>
                <div class="ml-4 p-1 border border-gray-300 bg-white shadow rounded-md overflow-hidden">
                    <input class="outline-none px-3 w-40" type="text" placeholder="Mother" />
                </div>
            </div>
            <div class="flex items-center justify-between">
                <label for="">nominee's age</label>
                <div class="ml-4 p-1 border border-gray-300 bg-white shadow rounded-md overflow-hidden">
                    <input class="outline-none px-3 w-24" type="text" placeholder="48 years" />
                </div>
            </div>
        </div>
        <div class="flex space-x-4">
            <div class="space-x-4 border border-gray-300 rounded-md shadow-md p-1">
                <table>
                    <tbody>
                        <tr>
                            <td class="border border-gray-300 p-3" colspan="2" rowspan="2">family details</td>
                            <td class="border border-gray-300 p-3" colspan="2">if dead</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 p-3">person's age</td>
                            <td class="border border-gray-300 p-3">cause of death</td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 p-3">father's age</td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="border border-gray-300 shadow"
                                    type="text" /></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 p-3">father's age</td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="border border-gray-300 shadow"
                                    type="text" /></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 p-3">father's age</td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="border border-gray-300 shadow"
                                    type="text" /></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 p-3">father's age</td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="border border-gray-300 shadow"
                                    type="text" /></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 p-3">father's age</td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="w-24 border border-gray-300 shadow"
                                    type="text" /></td>
                            <td class="border border-gray-300 p-3"><input class="border border-gray-300 shadow"
                                    type="text" /></td>
                        </tr>
                        <tr>
                            <td class="border border-gray-300 p-3" colspan="4">
                                <div class="flex items-center">
                                    <label for="">birth date of the smallest child</label>
                                    <div
                                        class="ml-4 p-1 border border-gray-300 bg-white shadow rounded-md overflow-hidden">
                                        <input class="outline-none px-3 w-40 text-gray-500" type="date" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="space-x-4">
                <div class="flex flex-col space-y-2">
                    <div class="flex border border-gray-300 shadow-md rounded-md overflow-hidden p-1">
                        <table class="flex-1">
                            <tbody>
                                <tr>
                                    <td class="border border-gray-300 px-3 p-1" colspan="2">collected documents</td>
                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-3 p-1"><input type="checkbox" /></td>
                                    <td class="border border-gray-300 px-3 p-1">passport sized photo</td>
                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-3 p-1"><input type="checkbox" /></td>
                                    <td class="border border-gray-300 px-3 p-1">aadhaar card</td>
                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-3 p-1"><input type="checkbox" /></td>
                                    <td class="border border-gray-300 px-3 p-1">pan card</td>
                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-3 p-1"><input type="checkbox" /></td>
                                    <td class="border border-gray-300 px-3 p-1">driving license</td>
                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-3 p-1"><input type="checkbox" /></td>
                                    <td class="border border-gray-300 px-3 p-1">school certificate</td>
                                </tr>
                                <tr>
                                    <td class="border border-gray-300 px-3 p-1"><input type="checkbox" /></td>
                                    <td class="border border-gray-300 px-3 p-1">bank passbook</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="border border-gray-300 shadow-md bg-gray-50 border-dashed rounded-md p-10">
                        <p>image of proposer's signature</p>
                        <input class="hidden" type="file" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>