<div class="form-box m-2 p-2 border border-gray-300 bg-gray-50 shadow rounded-md flex flex-col">
  <div class="p-2 mb-2">
    <h1 class="text-2xl font-bold">Personal Details</h1>
    <p class="text-sm">Let's fill your personal details</p>
  </div>
  <div class="space-y-2 flex flex-col p-2">
    <div class="flex space-x-3">
      <label class="w-40" for="">proposer's name</label>
      <div class="border border-gray-300 bg-gray-200 w-max px-3 rounded-md flex-1">
        <input class="bg-gray-200" type="text" placeholder="first name" />
        <input class="bg-gray-200" type="text" placeholder="middle name" />
        <input class="bg-gray-200" type="text" placeholder="last name" />
      </div>
    </div>
    <div class="flex space-x-3">
      <label class="w-40" for="">father's name</label>
      <div class="border border-gray-300 bg-gray-200 w-max px-3 rounded-md flex-1"">
          <input class=" bg-gray-200" type="text" placeholder="first name" />
      <input class="bg-gray-200" type="text" placeholder="middle name" />
      <input class="bg-gray-200" type="text" placeholder="last name" />
    </div>
  </div>
  <div class="flex space-x-3">
    <label class="w-40" for="">mother's name</label>
    <div class="border border-gray-300 bg-gray-200 w-max px-3 rounded-md flex-1"">
          <input class=" bg-gray-200" type="text" placeholder="first name" />
    <input class="bg-gray-200" type="text" placeholder="middle name" />
    <input class="bg-gray-200" type="text" placeholder="last name" />
  </div>
</div>
<div class="flex space-x-3">
  <label class="w-40" for="">proposer's address</label>
  <div class="border border-gray-300 bg-gray-200 w-max px-3 rounded-md flex-1 flex flex-col">
    <input class="bg-gray-200" type="text" placeholder="address line 1" />
    <input class="bg-gray-200" type="text" placeholder="address line 2" />
    <input class="bg-gray-200" type="text" placeholder="address line 3" />
  </div>
</div>
</div>
<div class="flex p-2 flex-row space-x-3">
  <div class="flex space-x-3">
    <label class="" for="">pincode</label>
    <div class="border border-gray-300 bg-gray-200 w-max px-3 rounded-md">
      <input class="bg-gray-200 w-24" type="text" placeholder="Eg. 416518" />
    </div>
  </div>
  <div class="flex space-x-3">
    <label class="" for="">phone</label>
    <div class="border border-gray-300 bg-gray-200 w-max px-3 rounded-md">
      <input class="bg-gray-200 w-28" type="text" placeholder="Eg. 9922945877" />
    </div>
  </div>
  <div class="flex space-x-3">
    <label class="" for="">date of birth</label>
    <div class="border border-gray-300 bg-gray-200 w-max px-3 rounded-md">
      <input class="bg-gray-200 w-32" type="date" placeholder="first name" />
    </div>
  </div>
  <div class="flex flex-1 space-x-3">
    <label class="" for="">place of birth</label>
    <div class="border border-gray-300 bg-gray-200 px-3 flex-1 rounded-md">
      <input class="bg-gray-200 flex-1" type="text" placeholder="Eg. Kudal" />
    </div>
  </div>
</div>
<div class="flex p-2 flex-row space-x-3">
  <div class="flex space-x-3">
    <label class="" for="">email</label>
    <div class="border border-gray-300 bg-gray-200 w-max flex px-3 space-x-2 rounded-md">
      <input class="bg-gray-200 w-72" type="text" placeholder="Eg. adam.jones@gmail.com" />
    </div>
  </div>
  <div class="flex flex-1 space-x-3">
    <label class="" for="">education</label>
    <div class="border border-gray-300 bg-gray-200 w-max px-3 rounded-md flex flex-1">
      <input class="bg-gray-200" type="text" placeholder="12th Pass" />
    </div>
  </div>
  <div class="flex space-x-3">
    <label class="" for="">height</label>
    <div class="border border-gray-300 bg-gray-200 w-max flex px-3 space-x-2 rounded-md">
      <input class="bg-gray-200 w-16" type="text" placeholder="Eg. 1256" />
      <p class="text-gray-400">inches</p>
    </div>
  </div>
  <div class="flex space-x-3">
    <label class="" for="">weight</label>
    <div class="flex border border-gray-300 bg-gray-200 w-max px-3 rounded-md space-x-2">
      <input class="bg-gray-200 w-12" type="text" placeholder="Eg. 56" />
      <p class="text-gray-400">kg</p>
    </div>
  </div>
</div>
</div>