<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>app</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="h-screen flex">
        <div class="m-4 m-auto w-80 p-4 border border-gray-200 bg-gray-100 rounded-md shadow">
            <div class="flex mb-6">
                <h1 class="mx-auto text-2xl font-bold">Sign In</h1>
            </div>
            <div class="space-y-4">
                <div class="flex flex-col border-2 border-gray-200 rounded-lg overflow-hidden">
                    <input class="outline-none border-b p-2 px-3" type="text" placeholder="username" />
                    <input class="outline-none p-2 px-3" type="password" placeholder="password" />
                </div>
                <div class="flex flex-col">
                    <button class="border border-blue-500 bg-blue-500 rounded-md text-white p-2">Sign In</button>
                </div>
                <div class="">
                    <p class="text-center text-sm">Did you forget your <a class="text-blue-600" href="{% url 'forgotPassword' %}">password</a>?</p>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>